@import url("./rootColor.css");
/* @import url("./font.css"); */
@import url("./nav.css");

*{
box-sizing:border-box;
margin:0;
padding:0;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end{
  /* justify-self: end; */
  justify-items: end;
}
.start{
  justify-self: start;
}

.column{
  flex-direction: column;
}

.hidden{
  visibility: hidden;
}