@import url("style.css");

/* h1{
  font-size: 3rem;
  color: rgb(215, 245, 215);
  background-color: darkgreen;
  border: 2px solid black;
  cursor: pointer;
} */
 *{
  border: 1px solid purple;
 }

 body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(223, 177, 246);
  position: relative;
  overflow: hidden;
}

nav{
  width: 100%;
  height: 15vh;
  background-color: rgb(85, 253, 85, 0.8);
  position: absolute;
  top:0;
  left:0; 
  z-index: 10;
}

section:first-child{
  width:30vw;
  height:75vh;
  background-color: rgba(255, 0, 0, 0.8);
  position: absolute;
  left:0;
  bottom: calc(10vh);
  z-index: 10;
}

section:last-child{
  width:20vw;
  height:75vh;
  background-color: rgba(106, 255, 0, 0.8);
  position: absolute;
  right:0;
  bottom: calc(10vh);
  z-index: 10;
}

article{
  width:50vw;
  height:75vh;
  background-color: rgba(255, 0, 255, 0.8);
  position: absolute;
  left:calc(30vw);
  bottom: calc(10vh);
  z-index: 10;
}


footer{
  width: 100%;
  height: 10vh;
  background-color: rgba(249, 235, 36, 0.932);
  position: absolute;
  bottom:0;
  left:0; 
  z-index: 10;
}