@import url("style.css");

/*
* Outline all elements to see their boundaries
to be replaced with cool BG image later
*/
 /* *{
  border: 1px solid purple;
 } */

 body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(223, 177, 246);
  position: relative;
  overflow: hidden;
  z-index: -10;
}

nav{
  width: 100%;
  height: 15vh;
  background-color: rgb(85, 253, 85, 0.8);
  position: absolute;
  top:0;
  left:0; 
  z-index: -5;
}

section:first-child{
  width:35vw;
  height:75vh;
  background-color: rgba(255, 0, 0, 0.8);
  position: absolute;
  left:0;
  bottom: calc(10vh);
  z-index: -5;
}

/* section:last-child{
  width:20vw;
  height:75vh;
  background-color: rgba(106, 255, 0, 0.8);
  position: absolute;
  right:0;
  bottom: calc(10vh);
  z-index: -5;
} */

article{
  width:65vw;
  height:75vh;
/* start here */
background: no-repeat center/80% url("./assets/gambitRouge.jpg");
  position: absolute;
  right:0;
  bottom: calc(10vh);
  z-index: -5;
  overflow: auto;
  padding:1em;
}

footer{
  width: 100%;
  height: 10vh;
  background-color: rgba(249, 235, 36, 0.932);
  position: absolute;
  bottom:0;
  left:0; 
  z-index: -5;
  padding:1em;
}

/*
just basic card styling
*/

img{
  width: 25vw;
  height:35vh;
  margin-bottom: 1em;  
  /* object-fit: cover; */
}

/*
character information card styling
*/
h3{
  font-size: 1.5em;
  margin: 0.66em 0 0.33em 0;
  padding: 0.66em;
  text-align: center;
  color:var(--marvelWhite);
}
/*  */
article p {
  display: block;
  font-size: 16px;
  color:var(--gambitMagenta);
  line-height: 1.3em;
   text-indent: 2em;
   padding:0.12em;
   margin: 0.12em;
}

article em{
  display: inline-block;
  font-size:12px;
  padding:1em;
  margin:1em;
  line-height: 1.4em;
}

/*
footer Contents
*/
footer em{
  padding: 0.33em;
  margin:0.33em;
  font-size: 1.3em;
}