@import url("style.css");

/*
* Outline all elements to see their boundaries
*/
 *{
  border: 1px solid purple;
 }

 body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(223, 177, 246);
  position: relative;
  overflow: hidden;
  z-index: -10;
}

nav{
  width: 100%;
  height: 15vh;
  background-color: rgb(85, 253, 85, 0.8);
  position: absolute;
  top:0;
  left:0; 
  z-index: -5;
}

section:first-child{
  width:35vw;
  height:75vh;
  background-color: rgba(255, 0, 0, 0.8);
  position: absolute;
  left:0;
  bottom: calc(10vh);
  z-index: -5;
}

/* section:last-child{
  width:20vw;
  height:75vh;
  background-color: rgba(106, 255, 0, 0.8);
  position: absolute;
  right:0;
  bottom: calc(10vh);
  z-index: -5;
} */

article{
  width:65vw;
  height:75vh;
  background-color: rgba(255, 0, 255, 0.8);
  position: absolute;
  right:0;
  bottom: calc(10vh);
  z-index: -5;
  overflow: auto;
}

footer{
  width: 100%;
  height: 10vh;
  background-color: rgba(249, 235, 36, 0.932);
  position: absolute;
  bottom:0;
  left:0; 
  z-index: -5;
}

/*
just basic card styling
*/

img{
  width: 25vw;
  height:35vh;
  margin-bottom: 1rem;  
  /* object-fit: cover; */
}

/*
character imformation card styling
*/
h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.66em;
  text-align: center;
}
article p {
   text-indent: 2em;
   padding:0.66em;
}